.container {
  background-color: #f3f3fb;
  min-height: 100vh;
  text-align: center;
}

.image {
  width: 80%;
  height: 100%;
  padding: 1rem;
  border-radius: 40px;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
  object-fit: cover;
}

@media (max-width: 768px){
  .image {
    width: 50%;
    height: auto;
  }
}