* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #f3f3fb;
  min-height: 100vh;
  text-align: center;
}

.image {
  width: 80%;
  height: 100%;
  padding: 2rem;
  border-radius: 40px;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
  object-fit: cover;
}